@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
body {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  background-color: #101216;
}

* {
  margin: 0;
  padding: 0;
  color: #919299;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

h1 {
  font-size: 24px;
  line-height: 45px;
  color: #bcbdc2;
}

h2 {
  font-size: 18px;
  line-height: 45px;
  color: #4d5258;
}

h3 {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0 20px 0;
}

tr:first-child > td {
    color: #575c62;
}

td {
  padding: 5px;
  border: 1px solid #2c2d31;
}

td:first-child {
  border-left: 0px solid;
}

td:last-child {
  border-right: 0px solid;
}

.box {
  display: flex;
  align-items: flex-start;
}

.left-container {
  width: 22%;
  border-right: 1px solid #2c2d31;
  display: flex;
  flex-direction: column;
}

.right-container {
  flex-grow: 1;
}

.logo {
  margin: 0 0;
  border-bottom: 1px solid #2c2d31;
  min-height: 50px;
}

.menu {
  margin: 25px 20px;
}

.library {
  margin: 0 20px;
  align-self: flex-end;
}

.content {
  margin: 35px 40px;
}

.logo-select {
  width: 100%;
  margin: 0 15px;
  height: 50px;
  background: url("img/icons/chevron-down.svg") no-repeat right #101216;
  background-position-x: right 30px;
  appearance: none;
  font-family: inherit;
  border: none;
}

button {
  text-align: center;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  background: #3381ed;
  color: white;
  border: none;
  font-family: inherit;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(51,129,237,0.38);
}

input {
  height: 25px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid #2c2d31;
  font-family: inherit;
  font-size: inherit;
  background: url("img/icons/search.svg") no-repeat left #101216;
  background-position-x: left 10px;
  background-size: 1.5em;
  padding: 3px 40px ;
}

.icon {
  vertical-align: text-bottom;
  width: 1.5em;
  height: auto;
}

.table-name {
  display: flex;
}

.table-name > h3 {
  flex-grow: 1;
}
